@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(24, 26, 27, 1);
}

html {
    scroll-behavior: smooth;
}

/* --------------Hide navbar-------------- */

.hidenav {
    background-color: rgba(44, 47, 49, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hidenav ul {
    background-color: rgba(44, 47, 49, 1);
    display: flex;
    list-style: none;
    flex-direction: column;
}

.hidenav ul h2 {
    color: rgba(232, 230, 227, 1);
    font-family: 'Poppins', cursive;
    background-color: rgba(44, 47, 49, 1);
}

.hidenav ul li a,
.hidenav ul li {
    background-color: rgba(44, 47, 49, 1);
    color: rgba(232, 230, 227, 1);
    font-family: 'Poppins', cursive;
    text-decoration: none;
}

.hidenav ul li a:hover {
    text-decoration: underline;
}

.none {
    display: none;
}

.about h2 {
    color: rgba(232, 230, 227, 1);
    background-color: rgba(44, 47, 49, 1);
}

.about {
    color: rgba(151, 151, 148, 1);
    flex-basis: 60%;
    padding-top: 20px;
    font-family: 'Poppins', cursive;
    background-color: rgba(44, 47, 49, 1);
}

/* --------------navbar------------- */

.nav {
    background-color: rgba(44, 47, 49, 1);
    padding: 30px 0;
    padding-left: 108px;
    position: relative;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgba(232, 230, 227, 1);
    background-color: rgba(44, 47, 49, 1);
    font-family: 'Poppins', cursive;
}

.nav i {
    color: rgba(232, 230, 227, 1);
    position: absolute;
    top: 38;
    right: 30;
    cursor: pointer;
}

.container {
    width: 80%;
    color: rgba(151, 151, 148, 1);
    margin-inline: auto;
}

.container h1 {
    text-align: center;
    margin-block: 100px;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}


.content h2 {
    color: rgba(232, 230, 227, 1);
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Baloo Bhai 2', cursive;
}

.content p {
    font-family: cursive;
    line-height: 40px;
    font-size: 20px;
}

/* ----------Footer------------ */

.container2 {
    background-color: rgba(44, 47, 49, 1);
    padding: 10px;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.copyright,
.copyright p {
    background-color: rgba(44, 47, 49, 1);
    color: rgba(151, 151, 148, 1);
}

.backToTop,
.backToTop a {
    background-color: rgba(44, 47, 49, 1);
    color: rgb(244, 125, 125);
    font-family: 'Poppins', cursive;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.backToTop a:hover {
    text-decoration: underline;
}



/* ------------------Responsiveness---------------- */

@media (max-width:600px) {

    .nav,
    .hidenav,
    .container2 {
        width: 208%;
    }

    .container {
        width: 184%;
        margin-left: 33px;
    }
}

@media(min-width:600px)and (max-width:768px) {

    .nav,
    .hidenav,
    .container2 {
        width: 208%;
    }

    .container {
        width: 197%;
        margin-left: 30px;
    }
}

@media(min-width:768px)and (max-width:992px) {

    .nav,
    .hidenav,
    .container2 {
        width: 208%;
    }

    .container {
        width: 197%;
        margin-left: 30px;
    }
}
